* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  box-sizing: content-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;

  background-color: white;
}

.preload * {
  transition: none !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: gray;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  margin: 0;
}

input {
  outline: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
}
