@use './colors' as colors;
@use './constants' as constants;

* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  box-sizing: content-box;
}

body {
  //@at-root: 'montreal-mediumregular', Lucida Grande, Lucida Sans Unicode,
  //Tahoma, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;

  background-color: colors.$theme;
}

.preload * {
  // make Transitions Only After Page Load
  transition: none !important;
}

main {
  padding-top: constants.$headerHeight;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: gray;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  margin: 0;
}

input {
  outline: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
}
